<div class="container">
  <form id="survey_create_form" action="/surveys/create" method="post">
    <input id="survey_name_input" type="text" name="survey[name]">
    <textarea id="survey_description_text" name="survey[description]"></textarea>
    <input type="submit" value="Create Survey">
  </form>
</div>
