<div class="container">
  <form id="survey" action="/surveys/create" method="post">
    <input id="new_surv_name" type="text" name="survey[name]">
    <textarea id="new_surv_desc" name="survey[description]"></textarea>
    <input type="submit" value="Create Survey">
  </form>
</div>
