<div class="container">
  <form id="create_survey_action" action="/surveys/create" method="post">
    <input type="text" name="survey[name]">
    <textarea name="survey[description]"></textarea>
    <input type="submit" value="Create Survey">
  </form>
</div>
